.dashboardContainer {
    overflow-y: auto;
}

.header {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    background: #d1190d;
    color: white;
    padding: 0 20px 0 20px;
    margin-bottom: 20px;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
}

.header h2 {
    margin: 10px;
}

.headerLeft {
    display: flex;

}

.headerLeft button {
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: white;
    transition: background-color ease 300ms;
}

.headerLeft button:hover {
    background-color: rgba(255, 255, 255, .1);
}

.headerRight {
    display: flex;
    flex-direction: column;
}

.dashboardSessions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.dashboardSession {
    border: 2px black solid;
    border-radius: 8px;
    width: 50vw;
    max-width: 680px;
    height: 35vh;
    min-height: 300px;
    background-color: #eeefef;
    display: flex;
    flex-direction: column;
}

.dashboardSessionTop {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
}

.sessionInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 20px;


}

.sessionInfo h2 {
    margin: 0;
}

.sessionInfo h3,
.sessionInfo p {
    margin: 10px 0 0 0;
}

.reportFormInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 20px 20px;
}

.reportSemester {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.mostPopularTimes {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
}

.reportSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}
