.loginTop h1,
.loginTop h4,
.loginBottom h4 {
    margin: 0;
}

.loginTop {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.loginBottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: white;
}

.login {
    display: grid;
    justify-items: center;

    width: 100%;
    height: 100vh;

    background-size: 300% 300%;
    background-image: linear-gradient(228deg, rgba(46, 46, 46, 1) 0%, rgba(219, 57, 62, 1) 60%);
    -webkit-animation: AnimateBG 15s ease infinite;
    animation: AnimateBG 15s ease infinite;
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.loginContainer {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    position: absolute;
    width: fit-content;
    padding: 50px;
    border-radius: 10px;
    background-color: #eeefef;

    margin: 0px 50px;
}

.loginFormSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: fit-content;
    padding: 50px;
    /* flex: 1 0 500px; */
}

.formButton {
    background: #d1190d;
    color: white;
    /* border-radius: 8px; */
    border: none;
    padding: 6px 12px;
}

.formButton:hover {
    background: #fa463b;
}

.frButton {
    background: white;
    border-radius: 8px;
    padding: 4px;
}

.frButton:hover {
    background: rgba(0, 0, 0, .3);
}




.loginInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
}

.loginInput input {
    font-size: 18px;
}

.loginInput label {
    margin-right: 20px;
}

form button {
    margin-top: 48px;
}

.textInput button {
    margin: 0;
}

.loginSection form .optionMenu button {
    margin-top: 0px;
}

.fcWindow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    width: 100%;
    height: 100%;
}

.fcWindowContent {
    z-index: 4;
}
